[Desktop Entry]
Name=Neon Knights Violet
Comment=Neon Knights Aurorae Theme
X-KDE-PluginInfo-Author=ju1464
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Neon_Knights_Violet
X-KDE-PluginInfo-Version=0.1.108
