*background:  #000000
*foreground:  #8fffda
*color0:  #000000
*color1:  #ce5200
*color2:  #24ff01
*color3:  #bebe00
*color4:  #1100c3
*color5:  #dc00df
*color6:  #00bcc7
*color7:  #8fffda
*color8:  #9c288c
*color9:  #f93200
*color10:  #24ff01
*color11:  #bebe00
*color12:  #283efc
*color13:  #c500fe
*color14:  #00a6ee
*color15:  #8fffda


! Rofi
rofi.font: Source Sans Pro 14
rofi.padding: 20
rofi.line-padding: 2
rofi.color-enabled: true
rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.color-window: #000000, #00cc00, #000000
rofi.color-normal: #000000, #FFFFFF, #111111, #FFFFFF, #000000


xterm*font: 7x13
xterm*faceName: xos4 Terminess Powerline:size=12:antialias=false


URxvt*letterSpace:              -2
URxvt*font:                     xft:xos4 Terminess Powerline:regular:size=12
URxvt*imFont:                   xft:xos4 Terminess Powerline:regular:size=12
URxvt*boldFont:                 xft:xos4 Terminess Powerline:bold:size=12
URxvt*italicFont:               xft:xos4 Terminess Powerline:italic:size=12
URxvt*boldItalicFont:           xft:xos4 Terminess Powerline:regular:size=12

URxvt*perl-ext-common:      default,clipboard,url-select,keyboard-select
URxvt*url-select.launcher:  chromium
URxvt*url-select.underline: true
URxvt*keysym.M-u:           perl:url-select:select_next
URxvt*keysym.M-Escape:      perl:keyboard-select:activate
URxvt*keysym.M-s:           perl:keyboard-select:search


Xft.dpi: 150
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
